<html>
  <body>
    Sorry, we did not find a match with the id <%= @match_id %>. Please enter another.
		<form action="/results" method="post" name="match_search">
			Match ID:<input type="text" name="match_id">
			<input type="submit">
		</form>
	</body>
</html>
